.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #d28e5f;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}


.BuildControl button:disabled {
    background-color: #d2c1b5;
    border: 1px solid #d2c1b5;
    color: #fff;
    cursor: default;
}

.BuildControl button:hover:disabled {
    cursor: not-allowed;
    background-color: #d2c1b5;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #d28e5f;
    color: white;
}

.BuildControl .More {
    background-color: #d28e5f;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #614b3e;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #614b3e;
    color: white;
}